@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,900");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Roboto, sans-serif;
  background: #151515;
  text-align: justify;
  color: black;
}
container {
  align-items: center;
  display: flex;
  flex-direction: column;
}
header {
  width: 500px;
}
h3,
h4 {
  color: #fff;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1),
    1px 1px 1px rgba(0, 0, 0, 0.5);
}
.principal-img {
  width: 100%;
  height: 50%;
}
.principal-img img {
  margin-left: 20%;
  width: 60%;
  height: 60%;
  filter: contrast(20%);
}
.acertou {
  filter: none !important;
}
.galeria img {
  display: block;
  width: 20%;
  float: left;
  cursor: pointer;
}
#sombra {
  margin-left: 40%;
  margin-top: 30px;
  width: 180px;
  height: 20px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  background: transparent;
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 200ms ease-in-out;
}
#sombra:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 0;
  height: 100%;
  background: #e37f14;
  z-index: -1;
  -webkit-transition: width 200ms ease-out;
  transition: width 200ms ease-out;
}
#sombra:hover {
  color: #fff;
}
#sombra:hover:after {
  width: 110%;
}
#sombra:active:after {
  background-color: #0f55aa;
}
